.card {
  display: flex;
  flex-direction:row;
  border-style: solid;
  border-color: #D9D9D9;
  border-radius: 7px;
  border-width: 1px;
  margin: 20%;
  padding: 20px;
  justify-content: space-between;
}

.gauche {
  display: flex;
  flex-direction:column;
}

.titre {
  color: #FCC347;
  font-family: 'DM Sans', sans-serif;
}

.corps {
  font-family: 'DM Sans', sans-serif;
}

.bouton {
  font-family: 'DM Sans', sans-serif;
}

.button {
  background-color: #FCC347;
  border-style: none;
  border-radius: 7px;
  padding: 15px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #eeb53a;
}

img {
  width: 165px;
  height:200px;
  object-fit:cover;
}

.droite {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

.droite p {
  color: #D9D9D9;
  margin-top: 5px;
}
